:root{
    --mint:#DDFFE7;
    --spearmint:#98D7C2;
    --teal-g:#167D7F;
    --teal:#29A0B1;
    --text:white;
}

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
    background-color: var(--teal-g);
    color:white;
}

/* H1-H6 */
h1 {
    font-size: 200%;
    font-weight:bolder;
    /* text-align: center; */
    color:black;
    padding-left: 10px;
    /* position:absolute;
    left:150px;
    top:0; */
}

h2 {
    font-size: 150%;
    font-weight: bold;
}

h3 {
    font-size: 125%;
    font-weight:bold;
}

/* Header */
header {
    background-color: var(--spearmint);
    padding-bottom:10px;
    /* margin: 0% 20%; */
}

header img {
    max-width:150px;
    position:relative;
}

/* Nav Bar */
nav{
    background-color: var(--teal);
    color:var(--text);
    text-align:center;
}

nav a {
    margin: 0% 5%;
    text-decoration: none;
    text-align: center;
}

a{
    color:var(--text);
}

a:hover{
    color:red;
    cursor:pointer;
    text-decoration: underline;
}

nav ul li {
 display:inline-block;
 margin-left: 2%;
 width: auto;
}
/* End Nav Bar */
/* End Header */

/* Cards */
.container{
    margin: 20px auto;
    max-width: 1000px;
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 20px;
}

.card{
    /* box-shadow: 0px 0px 20px white; */
    border: 1px var(--mint) dashed;
    max-width: 300px;
}

.card:hover{
    box-shadow: 0 0 20px var(--mint);
}

.card-image {
    width:100%;
    display:block;
}

.card-content{
    line-height: 1.5;
    font-size: .9em;
    padding: 15px;
    background: var(--teal);
}
/* Cards end */

@media screen and (max-width: 500px) {
    nav {
        display: flex;
        flex-wrap:wrap;
    }

    /* .container {
        grid-template-columns: repeat(auto, 1fr);
    } */
}

footer {
    background-color: var(--spearmint);
    color:black;
    text-align: center;
    /* bottom:0; */
    /* width:100%; */
    height:2.5rem;
    margin-top:auto;
}