:root{
    --mint:#DDFFE7;
    --spearmint:#98D7C2;
    --teal-g:#167D7F;
    --teal:#29A0B1;
    --text:white;
}

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text);
}

body{
    background-color: var(--teal-g);
    color:white;
}

/* Header */
header {
    background-color: var(--spearmint);
    width: 80%;
    margin: 0px auto;
    height:150px;
    position:relative;
    display:flex;
}

h1 {
    font-size: 300%;
    font-weight:bolder;
    text-align: center;
    color:black;
    position:relative;
    top:20%;
    margin:0 auto;
}

header img {
    max-width:150px;
    position:absolute;
    border-right: 5px solid var(--teal);
    border-left: 5px solid var(--teal);
    border-radius: 50%;
    bottom:0px;
    z-index:1;
}

/* Nav Bar */
header nav{
    background-color: var(--teal);
    color:var(--text);
    text-align:center;
    position:absolute;
    width:100%;
    bottom:0;
    /* right:0; */
}

nav li {
    margin: 0% 5%;
    text-align: center;
}

a{
    color:var(--text);
}

a:hover{
    color:red;
    cursor:pointer;
    text-decoration: underline;
}

nav ul li {
 display:inline-block;
}
/* End Nav Bar */
/* End Header */

h2 {
    font-size: 150%;
    font-weight: bold;
}

#aboutMe {
    display:flex;
    margin: 10px auto;
    text-align:center;

}

#aboutMeTitle {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin:auto;
    border-right: 5px solid var(--spearmint);
    border-left: 5px solid var(--spearmint);
    background-color: var(--teal-g);
    padding:5px;
}

#aboutMeContent {
    padding: 20;
    width:90%;
    margin:auto;
    padding:25px 0;
    background-color: var(--teal);
}



#myWork {
    display:flex;
    
}
#myWorkTitle {
    border-right: 5px solid var(--spearmint);
    border-left: 5px solid var(--spearmint);
    padding: 5px;
    margin:auto;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

/* Cards */
.container{
    margin: 20px auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    text-align: center;
    gap: 20px;
    width:90%;
}



.card{
    border: 1px var(--mint) dashed;
    border-radius: 20px;
    overflow:hidden;
    position:relative;
    flex:1 0;
    min-width:25%;
    max-width:;
}

.card h2 {
    position:absolute;
    top:5px;
    width:100%;
    text-align:center;
    user-select: none;
}

.card:hover{
    box-shadow: 0 0 20px var(--mint);
}

.card-image {
    width:100%;
    display:block;
    border-radius:20px 20px 0 0;
    border-bottom: 2px solid var(--mint);
}

.card-content{
    line-height: 1.5;
    font-size: .9em;
    padding: 5px;
    background: var(--teal);
    border-radius: 0 0 20px 20px;
    height:100%;
    width:100%;
}

.card-content p{
    /* margin:0 auto; */
    width:95%;
    text-align:center;
}


.card:first-of-type{
    flex:3;
}

.card a {
    text-decoration: none;
}
/* Cards end */

@media screen and (max-width: 800px) {
    header nav {
        display: flex;
        flex-wrap:wrap;
    }

    header ul {
        width:100%;
    }
}

/* Footer */
footer {
    background-color: var(--spearmint);
    border-top: 10px solid var(--teal);
    color:black;
    text-align: center;
    padding: 16px 0 20px 0;
    position:relative;
    width:80%;
    margin:0 auto;
}

h3 {
    font-size: 125%;
    font-weight:bold;
    position:absolute;
    /* max-height:100%; */
    width:25%;
    bottom:10px;
}

footer ul li{
    display:inline-block;
}